<nav class="navbar navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="#">
        <img src="https://i.imgur.com/wGwiRyF.png" width="250" height="150" alt="logo-wild-circus">
    </a>
</nav>
<nav class="navbar navbar-light bg-light justify-content-center">
    <form class="form-inline ju">
        <a href="/"><button class="btn btn-outline-success" type="button">Nos spectacles</button></a>
            <a href="/numero"><button class="btn btn-outline-success" type="button">Les numéros</button></a>
        <a href="/ticket"><button class="btn btn-outline-success" type="button">Achetez vos tickets</button></a>
        <a href="/contact"><button class="btn btn-outline-success" type="button">Contact</button></a>
    </form>
</nav>